target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Allure results
allure-results/
build/allure-results/
target/allure-results/

# OS
.DS_Store
Thumbs.db

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

out/

*.log
*.png